* {
  margin: 0;
  padding: 0;
}
p {
  display: inline;
  color: #666;
}
div {
  display: block;
}
.division_line_a {
  width: 94%;
  height: 1px;
  border-bottom: 3px solid #6699ff;
  margin-bottom: 20px;
}
.division_line_b {
  position: relative;
  width: 94%;
  height: 30px;
  background-color: #efefef;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
}
.division_line_b_title {
  border-top: 1px solid #6699ff;
  border-bottom: 3px solid #6699ff;
  background-color: #6699ff;
  color: white;
  height: 100%;
  width: 100px;
  font-size: 23px;
  padding-left: 10px;
  padding-right: 20px;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -moz-box-orient: vertical;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
}
.division_line_b_dec1 {
  position: relative;
  left: -42px;
  background-color: #6699ff;
  height: 100%;
  width: 100px;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
}
.division_line_b_dec2 {
  position: relative;
  left: -102px;
  background-color: #6699ff;
  height: 40%;
  width: 100px;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
}
.control-head {
  font-weight: 500;
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: #c3e6f4;
  float: left;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: #c3e6f4;
}
.control-head img {
  position: absolute;
  height: 100%;
  left: 43%;
  opacity: 0.8;
}
.Nav-a {
  float: left;
  width: 8%;
  height: 100%;
  top: 0px;
  line-height: 48px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background: rgba(91, 171, 230, 0);
  padding: 0 9.6px;
  text-align: center;
}
.Nav-a:hover {
  background-color: #71c9e6;
}
.control-head li {
  display: inline;
}
.head-right {
  float: right;
  right: 5%;
  left: 85%;
  width: 200px;
  height: 100%;
  top: 0px;
}
.Nav-b {
  width: 50%;
  text-decoration: none;
  color: white;
  line-height: 40px;
  font-size: 14px;
  background: rgba(91, 171, 230, 0);
  padding: 0 9.6px;
  text-align: center;
}
.main {
  position: relative;
  margin: 0 auto;
  width: 871px;
  background: white;
  padding-top: 55px;
  padding-left: 50px;
  padding-bottom: 5%;
  box-shadow: 1px 3px #666;
}
.top img {
  position: relative;
  margin: 47px auto 0;
  width: 921px;
  display: block;
}
.name_part {
  color: #6699ff;
  letter-spacing: 2px;
  font-family: 微软雅黑;
  display: block;
  font-size: 20px;
  padding-top: 15px;
  vertical-align: middle;
  padding-bottom: 10px;
}
body {
  background: linear-gradient(#c3e6f4, #CCFFF5);
}
.foot {
  margin: 40px auto;
}
p.note {
  display: block;
  text-align: center;
  font-size: 14px;
}
label {
  color: #666;
  height: 20px;
  font-family: 微软雅黑;
  font-size: 15px;
  display: inline;
}
span.check {
  color: #666;
  padding-left: 3px;
}
input[type="text"] {
  height: 30px;
  width: 250px;
}
.line {
  padding-top: 30px;
  height: 100px;
}
.info {
  width: 33%;
  height: 30px;
}
.line_textarea {
  margin-bottom: 50px;
}
.block {
  padding-left: 45px;
  height: 50px;
  width: 700px;
  border-bottom: 1px dashed;
  border-color: #666;
}
.part {
  padding-bottom: 20px;
}
button {
  border-radius: 90px;
  margin-left: 250px;
  width: 150px;
  height: 35px;
  background-color: #0f88eb;
  color: #ffffff;
  font-family: 微软雅黑;
  font-size: 20px;
  border: none;
  line-height: 5px;
  outline: none;
}
button:hover {
  border-radius: 90px;
  line-height: 5px;
  margin-left: 250px;
  width: 150px;
  height: 35px;
  background-color: #5babf0;
  color: #ffffff;
  font-family: 微软雅黑;
  font-size: 20px;
  border: none;
  outline: none;
}
#lastSubmit {
  margin-left: 80px;
}
div.disappear {
  display: none;
  margin-top: 30px;
}
.line_textarea > label {
  vertical-align: top;
}
input[type="text"],
textarea {
  outline: none;
  border: 2px solid #efefef;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 16px;
}
input[type="text"]:focus,
textarea:focus {
  outline: none;
  border: 2px solid #6699ff;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 16px;
}
input[type="checkbox"] {
  opacity: 0;
  height: 100%;
  width: 100%;
}
textarea {
  width: 450px;
  height: 150px;
  text-decoration: none;
  resize: none;
}
.checkbox_box {
  display: inline-block;
  height: 15px;
  width: 15px;
}
.checkbox_box_check {
  display: inline-block;
  height: 15px;
  width: 15px;
  background: url('../images/require_team/check.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.checkbox_box_uncheck {
  display: inline-block;
  height: 15px;
  width: 15px;
  background: url('../images/require_team/uncheck.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
