@charset "utf8";

.pos(@pos){position:@pos;}
.flex-row(){display:flex;display:-webkit-flex;flex-direction:row;-webkit-flex-direction:row}
.flex(@scale){flex:@scale;-webkit-flex:@scale;}
.flex-jus(@kind){justify-content:@kind;}
.flex-align(@kind){align-items:@kind}

html,body{.main;}
.main{.pos(relative);margin:0;padding:0;height:100%;width:100%;font-size:16px;.flex-align(center)}

/*顶部导航栏的样式*/
.header{.pos(absolute);.flex-row;.flex-align(center);height:3.5em;width:100%;box-shadow:0 .1em .4em .02em hsla(0,0%,60%,.6);}

.logo{.pos(relative);height: 3.5em;width: 11.25em;margin:0 .06em 0 1em;background: url(../images/logo1.png) 0% 60% no-repeat;background-size: 100% 71%;}

.page-name{font-size:1.01em;font-weight:bold;color: #666;}

.flex-space{.flex(1);}

.person-menu{.pos(relative);margin:0 1em 0;}

/*页面正文部分*/
.content{padding:3.5em 0 0;}